$body-color: #d1f3d1;
$dark-color: #333a4d;
$border-radius: 0px;

//#d4e9f6;

body {
  margin: 0;
  padding: 0;
  background: $body-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
* {
  font-family: sans-serif;
  color: #fff;
}

/*VIDEO*/
/*...Videos All..*/
.video__1 {
  background: #c2ffc1;
  display: none;
  background-image: url('https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
}
.video__2 {
  background: #ff7575;
  background-image: url('https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
}
.video__3 {
  background: #fffea5;
  display: none;
  background-image: url('https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}
.video__attribute-noDisplay {
  display: none;
}


.video {
  background: rgba(26,26,26,0.9);
  max-width: 900px;
  margin: auto;
  border-radius: $border-radius;

  .video__container {
    display: flex;
    max-width: 900px;
    margin: auto;

    /*...Copy...*/
    .video__copy {
      padding: 30px;
      width: max-content;
      width: 30%;
      text-align: left;

      h1 {
        font-size: 3rem;
        margin: 0;
      }
      h2 {
        margin: 15px 0 30px;
        small {
          font-size: 14px;
        }
      }
      p {
        small {
          font-size: 12px;
          display: -webkit-inline-box;
        }
        font-size: 20px;
      }

      .video__title {

      }
      .video_time {
        display: none;
        font-size: 12px;
        margin: 15px 0 0;
      }

      .video__copy__upNext {
        margin: 60px 0 0 0;
        width: 100%;

        video {
          max-width: 200px;
          margin: 15px 0 10px 0;
          border-radius: $border-radius; 
        }
        p {
          margin: 0;
          padding: 0;
        }
        .video__upNext__vidDesc {
          font-size: 12px;

        }
      }
    }

    /*...Video...*/
    .video__embed {
      margin: 30px 0 -30px;
      width: 60%;

      video {
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
      }
    }   
    /*...Nav...*/
    .video__nav {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 10%;

      button {
        background: transparent;
        border: none;
        font-size: 30px;
        cursor: pointer;
      }
      .video__nav__bottom {
        transform: rotate(180deg);
      }
      .video__nav__number {
        margin: 15px 0px;
        p {
          padding: 0;
          margin: 2px 0; 
          text-align: center;
        }
      }
    }
  }
}
/*ANIMATIONS*/
.animateUp {
}

.animateLeft {
  display: block;
}

.video__upNext__vidDesc {
  animation-delay: 0.3s;
}

.video__upNext__vid {
  animation-delay: 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (max-width: 600px) {
  .video__copy h1 {
    width: 100%;
    font-size: 10vw !important;
  }

  .video__copy__upNext video {
    width: 100%;
  }
  .video .video__container {
    position: relative;
  }
  .video .video__container .video__nav{
    position: absolute;
    bottom: 0;
    flex-direction: row !important;
    width: calc(50% - 12vw);
  }
  .video .video__container .video__nav .video__nav__number {
    display: flex;
  }
  button#video_btn {
    transform: rotate(270deg);
    margin: 0 10px;
  }
  button.video__nav__bottom.video_btn {
    transform: rotate(90deg) !important;
    margin: 0 10px;
}

  .video .video__container .video__copy .video__copy__upNext {
    margin: 40px 0 0 0;
  }
  .video .video__container .video__copy {
    padding: 30px 30px 60px 15px;
  }
  .video .video__container .video__copy .video__copy__upNext video {
    margin: 10px 0;
  }
  .video .video__container .video__nav .video__nav__number{
    padding: 0 2px;
  }
  p.video__nav__number-spacer {
    margin: 2px 5px !important;
}
}
